.info-modal {
  background-color: #f6f5f1;
  color: #3e4b34;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 2rem auto;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.info-modal h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 2px solid #a5b18f;
  padding-bottom: 0.3rem;
}

.info-modal p {
  font-size: 1rem;
  line-height: 1.5;
}

.info-modal ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #5a6a46;
}

.info-modal ul ul {
  list-style-type: circle;
  margin-left: 1rem;
}

.info-modal li {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.info-modal strong {
  color: #8e9f75;
}

.info-modal em {
  font-style: normal;
  color: #a5b18f;
}

.info-modal button {
  margin-top: 2rem;
  background-color: #a5b18f;
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-modal button:hover {
  background-color: #8e9f75;
}
