.word-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f6f5f1;
}

.word-text {
  font-size: 5rem;
  width: 40rem;
  height: 20rem;
  line-height: 20rem;
  text-align: center;
  color: #595959;
  border: 4px solid #ccc;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-bottom: 4rem;
  background-color: white;
}

.buttons {
  display: flex;
  gap: 3rem;
}

.right-button,
.wrong-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  width: 160px;
}

.right-button {
  background-color: #d6eaff;
  color: #1565c0;
}

.right-button:hover {
  background-color: #b3dafc;
}

.right-button:active,
.right-button.key-pressed {
  transform: scale(0.98);
}

.wrong-button {
  background-color: #f3e5f5;
  color: #835298;
}

.wrong-button:hover {
  background-color: #e1bee7;
}

.wrong-button:active.buttons,
.wrong-button.key-pressed {
  transform: scale(0.98);
}
